@import "variables";

.#{$ns}-table {
  table-layout: fixed;
  margin-bottom: 0;
  width: 100%;
  border-collapse: collapse;

  tr:first-child {
    td {
      border-top: 0;
    }
  }
}

.#{$ns}-thead-wrapper {
  border-bottom: 2px solid #dee2e6;

  thead {
    th {
      border-top: 0;
      border-bottom: 0;
    }
  }
}

.#{$ns}-tbody-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
}